* {
  box-sizing:border-box;
}
body {
  margin:20px;
  background-color: #242323;
}
textarea {
  width:100%;
  resize: vertical;
  padding:40px;
  border-radius:20px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}
nbutton {
  appearance:none;
  -webkit-appearance:none;
  padding:40px;
  border:none;
  background-color:#383838;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;

}
